@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@for (int i = 0; i < 5; i++)
{
	if (i % 2 == 0)
	{
		<p>Use this page to detail your site's privacy policy. @i</p>
	}
	else
	{
		<p>OPA</p>
	}
}

